@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<BlogWebApp.ViewModels.PostVM>
@{
    ViewData["Title"] = "List Of Posts";
}

<div class="container-fluid">
    <a asp-controller="Post" asp-area="Admin" asp-action="Create" class="btn btn-primary rounded-3 mb-1 ">Add Post</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">List of Posts</h4>
        </div>
        <div class="card-body">
            @foreach(var post in Model){
                <div class="card mb-3 p-2" >
                    
                    <div class="card-body">
                     <div class="row">
                            <div class="col-2 d-flex justify-content-center flex-column">
                                @if(post.ThumbnailUrl==null){ 
                                    <img class="img-fluid rounded-3" src="~/Thumbnail/thumbnail1.jpg" alt="@post.Title" style="object-fit:cover; height:100%; width:100%" />
                                }
                                else{
                                    <img class="img-fluid rounded-3" src="~/Thumbnail/@post.ThumbnailUrl" alt="@post.Title" style="object-fit:cover; height:100%;width:100%"   />
                            
                                }
                            </div>
                               
                         <div class="col-5 d-flex justify-content-center flex-column">
                                <h5 style="font-size:1.5rem; font-weight:bold" class="card-title text-primary">@post.Title</h5>
                                <p style="font-size:.8rem">@post.CreatedDate</p>
                         </div>
                            <div class="col-5 text-right d-flex justify-content-center flex-column">
                                <h5 style="font-size:1rem" class="card-title">@post.AuthorName</h5>
                                <div class="d-flex justify-content-end align-items-center ">
                                    <a  class="btn btn-primary rounded-3 m-2 " asp-action="Edit" asp-controller="Post" asp-area="Admin" asp-route-id="@post.Id">Edit</a>
                                    <form asp-action="Delete" asp-controller="Post" asp-area="Admin" method="post" onsubmit="return confirm('Do You want to delete this post?')" asp-route-id="@post.Id">
                                        <button type="submit" class="btn btn-danger rounded-3">Delete</button>
                                    </form>
                                   
                                </div>
                            </div>
                     </div>
                    </div>
                </div>
            }
         
        </div>
        <div class="card-footer">
            Page @(Model?.PageCount < Model?.PageNumber ? 0 : Model?.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index",
                     new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
                     new PagedListRenderOptions()
            {
                ContainerDivClasses = new List<string> { "blog", "navigation" },
                UlElementClasses = new List<string> { "pagination" },
                LiElementClasses = new List<string> { "page-item", "page-link" },
                ActiveLiElementClass = "active",
            })
        </div>
    </div>
</div>